<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Honeywell QAPMS</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
	<div id="app">
	    <div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到霍尼韦尔项目信息管理系统!</div>

		</div>
	</div>

	    <div class="main_con clearfix">
        <div class="right_content clearfix">
            <div class="site_top_con">
                <button>添加项目</button>
                <div><span>已有<b>[[ projects.length ]]</b>个项目</span></div>
            </div>
            <div class="site_con" v-for="(project, index) in projects">
                <div class="site_title">
                    <div>
                        <h3>[[ project.project_name ]]</h3>
                    </div>
                </div>
                <ul class="project_list">
                    <li><span>项目名称：</span><b>[[ project.project_name ]]</b></li>
                    <li><span>项目描述：</span><b>[[ project.project_desc ]]</b></li>
                    <li><span>项目经理：</span><b>[[ project.project_manager]]</b></li>
                    <li><span>产品经理：</span><b>[[ project.product_manager ]]</b></li>
                    <li><span>QAPL：</span><b>[[ project.QAPL ]]</b></li>
                    <li><span>EPL：</span><b>[[ project.EPL ]]</b></li>
                </ul>
            </div>
        </div>
	</div>
    </div>
</body>

</html>