<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>霍尼韦尔QA系统</title>
    <link rel="stylesheet" type="text/css" href="{{ static('css/reset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="{{ static('/js/axios-0.18.0.min.js') }}"></script>
</head>
<body>
    <div class="login_top clearfix">
		<a href="index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>
    <div class="login_form_bg" id="cpwd">
        <div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">霍尼韦尔项目管理系统</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<a href="www.baidu.com" class="cur">账户登录</a>
				</div>
				<div class="form_con">
					<div class="form_input cur">
						<form method="post" @submit="on_submit" v-cloak>
                            {{ csrf_input }}
                            <ul>
                            <li>
                            <span>原密码:</span>
							<input type="password" class="pass_input" name='old_pwd'placeholder="请输入原始密码">
							</li>
                            <li>
                            <span>输入新密码:</span>
                            <input type="password" v-model="new_password" @blur="check_new_password" name="new_pwd" class="pass_input" placeholder="请输入密码">
							<div v-show="error_new_password" class="pwd_error">密码最少8位，最长20位,不含空格</div>
                            </li>
                            <li>
                            <span>再次确认密码:</span>
                            <input type="password" v-model="new_password2" @blur="check_new_password2" name="new_pwd2" class="pass_input" placeholder="请再次输入密码">
							<div v-show="error_password2" class="pwd_error">两次密码输入不相同</div>
							</li>
                            <li>
                            <input type="submit" value="修改密码" :class="submit_color">

                                {% if cpwd_errmsg %}
                                <div class="login_error">  {{ cpwd_errmsg }}  </div>
                            {% endif %}
                            </li>
                            </ul>
						</form>
					</div>
				</div>
            </div>
        </div>
    </div>

</body>
    <script type="text/javascript" src="{{ static('/js/common.js') }}"></script>
    <script type="text/javascript" src="{{ static('/js/change_password.js') }}"></script>
</html>