<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>霍尼韦尔QA系统</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="projects">
        <ol>
            {% for project in projects  %}
            <li>
                <details>
                <summary>{{ project.project_name }}</summary>
                    <h3>项目成员</h3>
                        <table>
                        <tr>
                            <td>项目经理：</td>
                            <td>{{ project.project_manager }}</td>
                        </tr>
                        <tr>
                            <td>产品经理：</td>
                            <td>{{ project.product_manager }}</td>
                        </tr>
                        <tr>
                            <td>QAPL：</td>
                            <td>{{ project.QAPL }}</td>
                        </tr>
                        <tr>
                            <td>EPL：</td>
                            <td>{{ project.EPL }}</td>
                        </tr>
                        </table>

                    <h3>项目描述:</h3>
                        <article>{{ project.project_desc }}</article>
                    <h3>项目周期:</h3>
                        <table>
                        <tr>
                            <td>计划开始时间:</td>
                            <td>{{ project.plan_start }}</td>
                        </tr>
                        <tr>
                            <td>实际开始时间:</td>
                            <td>{{ project.practical_start }}</td>
                        </tr>
                        <tr>
                            <td>计划结束时间:</td>
                            <td>{{ project.plan_end }}</td>
                        </tr>
                        <tr>
                            <td>实际结束时间:</td>
                            <td>{{ project.practical_end }}</td>
                        </tr>
                        </table>
                    <h3>产品列表</h3>
                        <table>
                         <tr>
                            <th>产品型号</th>
                            <th>产品描述</th>
                        </tr>
                        {% for SKU in project.SKUs %}
                        <tr>
                            <td>{{ SKU.SKU }}</td>
                            <td>{{ SKU.SKU_name }}</td>
                        </tr>
                        {% endfor %}
                        </table>
                </details>
            </li>
            {% endfor %}
        </ol>
        <button onclick="window.location.href={{ url('projects:create_project') }}">新建项目</button>
    </div>
</body>

</html>