<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>霍尼韦尔QA系统</title>
	<link rel="stylesheet" type="text/css" href="{{ static('css/reset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="{{ static('/js/axios-0.18.0.min.js') }}"></script>
</head>
<body>
    <div id="register">
        <div class="register_con">
            <div class="r_con fr">
                <div class="reg_title clearfix">
                    <h1>用户注册</h1>
                    <a href="login.html">登录</a>
                </div>
                <div class="reg_form clearfix">
                    <form method="post" class="register_form" @submit="on_submit" v-cloak>
                        {{ csrf_input }}
                        <ul>
                            <li>
                                <label>用户名:</label>
                                <input type="text" v-model="username" @blur="check_username" name="username" id="user_name" placeholder="请输入5-20位的用户名，可含-_及空格">
                                <span class="error_tip" v-show="error_name">[[ error_name_message ]]</span>
                            </li>
                            <li>
                                <label>EID:</label>
                                <input type="text" v-model="EID" @blur="check_EID" name="EID" id="user_EID" placeholder="请输入您的EID">
                                <span class="error_tip" v-show="error_EID">[[ error_EID_message ]]</span>
                            </li>
                            <li>
                                <label>密码:</label>
                                <input type="password" v-model="password" @blur="check_password" name="password" id="pwd" placeholder="请输入8-20位的密码">
                                <span class="error_tip" v-show="error_password">请输入8-20位的密码</span>
                            </li>
                            <li>
                                <label>确认密码:</label>
                                <input type="password" v-model="password2" @blur="check_password2" name="password2" id="cpwd">
                                <span class="error_tip" v-show="error_password2">两次输入的密码不一致</span>
                            </li>
                            <li>
                                <label>邮箱:</label>
                                <input type="text" v-model="email_address" @blur="check_email" name="email" id="user_email" placeholder="请输入您的公司邮箱">
                                <span class="error_tip" v-show="error_email_address">[[ error_email_message ]]</span>
                            </li>
                            <li>
                                <label>邮箱验证码:</label>
                                <input type="text" v-model="email_code" @blur="check_email_code" name="email_code" id="msg_code" class="msg_input" placeholder="请输入您邮箱收到的验证码">
                                <button @click="send_email_code" class="get_email_code">[[ email_code_tip ]]</button>
                                <span class="error_tip" v-show="error_email_code">[[ error_email_code_message ]]</span>
                                {% if sms_code_errmsg %}
                                    <span class="error_tip">{{ sms_code_errmsg }}</span>
                                {% endif %}
                            </li>
                            <li class="reg_sub">
                                <input type="submit" value="注 册">
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
    <script type="text/javascript" src="{{ static('/js/register.js') }}"></script>
</html>