<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>霍尼韦尔QA系统</title>
    <style>
.FW_pop{
    width:450px;
    height:450px;
    border:1px solid #dddddd;
    background-color:#f7f7f7;
    position:fixed;
    left:50%;
    margin-left:-251px;
    top:40%;
    margin-top:-156px;
    z-index:1000;
    box-sizing:border-box
}
.title{margin-left:20px; width: 85px;display: inline;float: left}
.SKUs{width: 300px; display: inline;float: right}

    </style>
</head>
<body>
{{ context }}
</body>

</html>